* {padding:0;margin:0;border:0;
}
body {
	color: #000000;
	line-height: 26px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color: #FAFAFA;
	background-image: url(../images/TopRx_r6_c1.jpg);
	background-repeat: repeat-y;
	background-position: center center;
	font-size: 14px;
	font-weight: 300;
	font-family: "微软雅黑";
}
.box {
	height: auto;
	width: 1180px;
	margin-right: auto;
	margin-left: auto;
}
.mid {
	min-height: 464px;
	height: auto;
	width: 328px;
	margin-left: 50px;
	margin-bottom: 0px;
	overflow: hidden;
	margin-top: 20px;
	float: left;
	background-color: #e5f0f3;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
	padding-bottom: 15px;
}
.mid img {
	margin-top: 18px;
	margin-right: 18px;
	margin-bottom: 10px;
	margin-left: 18px;
}
a.mid01:link {
	font-size: 14px;
	color: #0098D9;
	text-decoration: none;
	line-height: 24px;
}
a.mid01:visited {
	font-size: 14px;
	color: #0098D9;
	text-decoration: none;
	line-height: 24px;
}
a.mid01:hover {
	font-size: 14px;
	color: #00618A;
	text-decoration: blink;
	line-height: 24px;
}

.dh {
	height: 34px;
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
	font-size: 18px;
	color: #000000;
	padding-right: 20px;
}
a.dh:link {
	font-size: 18px;
	color: #000000;
	text-decoration: none;
}
a.dh:visited {
	font-size: 18px;
	color: #000000;
	text-decoration: none;
}
a.dh:hover {
	font-size: 18px;
	color: #00b4ff;
	text-decoration: blink;
}

.dh1 {
	height: 48px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	font-size: 18px;
	color: #a8e1ff;
	padding-right: 20px;
	background-color: #2a88bb;
	overflow: hidden;
	line-height: 48px;
}
.dh1 a{
	height: 48px;
	font-size: 18px;
	color: #a8e1ff;
	overflow: hidden;
	line-height: 48px;
}

a.dh1:link {
	font-size: 18px;
	color: #a8e1ff;
	text-decoration: none;
	line-height: 48px;
}
a.dh1:visited {
	font-size: 18px;
	color: #a8e1ff;
	text-decoration: none;
	line-height: 48px;
}
a.dh1:hover {
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: blink;
	line-height: 48px;
}
.hb {
	margin-top: 10px;
	margin-bottom: 20px;
}
.hb img {
	margin: 10px;
}

a:link {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	cursor: hand;
	font-weight: normal;
	height: 38px;
	width: 100%;
	text-decoration: none;
}
a:visited {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
	cursor: hand;
}
a:hover {
	font-size: 14px;
	line-height: 24px;
	color: #0098D9;
	text-decoration: blink;
	cursor: hand;
}
ul,li{
	border:0;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	list-style-position: outside;
}
.clear{
	height:0px;
	font-size:0px;
	line-height:0px;
	padding:0px;
	margin:0px;
	clear:both;
	overflow:hidden;
}
.left {
	font-size: 12px;
	line-height: 38px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	min-height: 200px;
	height: auto;
	width: 300px;
	margin-top: 20px;
	float: right;
}
.left a {
	font-size: 14px;
	line-height: 32px;
	color: #333333;
	background-image: url(../images/TopRx02_r5_c3.jpg);
	background-repeat: no-repeat;
	height: 32px;
	width: 300px;
	float: left;
}
.left a:hover{
	font-size: 14px;
	line-height: 32px;
	color: #0098D9;
	background-image: url(../images/TopRx02_r3_c2.jpg);
	background-repeat: no-repeat;
	display: block;
	height: 32px;
	width: 300px;
	text-decoration: none;
}
.left .xuanzhong{
	font-size: 14px;
	line-height: 32px;
	color: #0098D9;
	background-image: url(../images/TopRx02_r3_c2.jpg);
	background-repeat: no-repeat;
	display: block;
	height: 32px;
	width: 300px;
}
.left02 {
	font-size: 12px;
	line-height: 38px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	min-height: 200px;
	height: auto;
	width: 300px;
	margin-top: 20px;
	float: right;
}
.left02 a {
	font-size: 14px;
	line-height: 32px;
	color: #333333;
	background-repeat: no-repeat;
	height: 32px;
	width: 280px;
	float: left;
	padding-left: 20px;
}
.left02 a:hover{
	font-size: 14px;
	line-height: 32px;
	color: #0098D9;
	background-repeat: no-repeat;
	display: block;
	height: 32px;
	width: 280px;
	padding-left: 20px;
}
.left02 .xuanzhong02{
	font-size: 14px;
	line-height: 32px;
	color: #0098D9;
	background-repeat: no-repeat;
	display: block;
	height: 32px;
	width: 280px;
	padding-left: 20px;
}

.menu {
	font-size: 12px;
	line-height: 38px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	height: 38px;
	width: 175px;
	background-repeat: no-repeat;
	padding-left: 25px;
}
.menu02 {
	font-size: 12px;
	line-height: 38px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	height: 38px;
	width: 175px;
	background-image: url(../imags/tb04.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 25px;
	background-color: #75ACED;
}
.right {
	font-size: 12px;
	line-height: 28px;
	font-weight: normal;
	color: #000000;
	float: none;
	min-height: 500px;
	height: auto;
	width: 90%;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
}
.right li {
	text-indent: 24px;
	list-style-type: disc;
	line-height: 28px;
	color: #0080FF;
}

.right p {
	text-indent: 28px;
	margin-top: 10px;
	font-size: 14px;
	line-height: 24px;
	color: #333333;
	text-decoration: none;
}


h1 {
	font-size: 1.17em;
	line-height: 40px;
	font-weight: normal;
	color: #06b1ff;
	text-decoration: none;
	background-color: #FFFFFF;
}
h2 {
	font-size: 16px;
	line-height: 40px;
	font-weight: normal;
	color: #06b1ff;
	text-decoration: none;
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
h3 {
	font-size: 20px;
	line-height: 40px;
	font-weight: normal;
	color: #06b1ff;
	text-decoration: none;
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
h4 {
    line-height: 36px;
    margin: 16px 0px 0px;
    padding: 0px 0px 0px 16px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(246, 250, 255);
    border: 1px solid rgb(190, 207, 221);
    color: rgb(51, 51, 51);
}
h5 {
	margin: 10px 0px 0px;
	font-size: 14px;
	font-weight: bold;
	color: #0080FF;
	text-indent: 24px;
}
.h6 {
	font-size: 20px;
	line-height: 40px;
	font-weight: normal;
	color: #06b1ff;
	text-decoration: none;
	background-color: #FFFFFF;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #00b4ff;
	margin-bottom: 10px;
	overflow: hidden;
}

th {
	font-size: 12px;
	line-height: 28px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	background-color: #F6F6F6;
}
.th1 {
	font-size: 14px;
	line-height: 36px;
	font-weight: 800;
	color: #333333;
	text-decoration: none;
	background-color: #cccccc;
}

pre {
	padding: 1em;
	border: 1px dashed rgb(47, 111, 171);
	color: #666666;
	line-height: 1.1em;
	font-family: "Courier New";
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	width: 93%;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	background-attachment: scroll;
	background-color: #FAFAFA;
	background-image: none;
	background-repeat: repeat;
	background-position: 0% 0%;}
.bottom {
	height: auto;
	width: 1180px;
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;
}
.bottomdiv {
	float: left;
	width: 120px;
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;
	text-decoration: none;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 50px;
}
.bottomdiv02 {
	width: 100%;
	font-size: 10px;
	line-height: 24px;
	color: #FFFFFF;
	text-decoration: none;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
}

a.BO:link {
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 24px;
}
a.BO:visited {
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 24px;
}
a.BO:hover {
	font-size: 14px;
	color: #00b4ff;
	text-decoration: underline blink;
	line-height: 24px;
}
.table01 td {
	font-size: 14px;
	line-height: 40px;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
}
.zspan {
	float: left;
	width: 200px;
}
.mspan {
	float: right;
	height: 40px;
	padding-top: 5px;
}
.mimg {
	margin-right: 20px;
	margin-left: 20px;
}
.sr {
	border: 3px solid #CCCCCC;
	height: 32px;
	font-size: 14px;
	line-height: 36px;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 5px;
}
.wbk {
	height: 160px;
	width: 500px;
	border: 3px solid #CCCCCC;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 5px;
}

.table02 {
	font-size: 14px;
	line-height: 36px;
	color: #000000;
}
.table03 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #8ec1e8;
	font-size: 14px;
	line-height: 50px;
	color: #333333;
	text-indent: 24px;
}
.table04 {
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #8ec1e8;
	font-size: 14px;
	line-height: 40px;
	color: #333333;
	text-indent: 24px;
}
.mmspan {
	margin-left: 20px;
	margin-top: 10px;
}
.btnwww{
	display:block;
	border:none;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	cursor: pointer;
	background-repeat: no-repeat;
	background-color: #00B4FF;
	margin: 0;
	text-align: center;
}
.btn {
text-transform: uppercase;
display: inline-block;
text-decoration: none;
padding: 5px 15px;
border: none;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
line-height: 1.5em;
vertical-align: baseline;
}
.btn,.btn-highlight {
background: #00b4ff;
color: #ccf0ff;
}
.btns2 {
	display:block;
	border:none;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	cursor: pointer;
	background-repeat: no-repeat;
	background-color: #00B4FF;
	height: 34px;
	width: 100px;
	margin: 0;
	text-align: center;
}
.btns3 {
	display:block;
	border:none;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	cursor: pointer;
	background-repeat: no-repeat;
	background-color: #999999;
	height: 34px;
	width: 100px;
	margin-top: auto;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	text-align: center;
}

.STYLE1 {
	font-size: 16px;
	font-weight: 600;
}
.STYLE2 {
	color: #666666;
	line-height: 24px;
}
a.sty2:link {
	font-size: 14px;
	color: #0099FF;
	text-decoration: none;
}
a.sty2:visited {
	font-size: 14px;
	color: #0099FF;
	text-decoration: none;
}